* {
  font-family: "Inter", serif;
  font-style: light;
}

.container {
  margin: 0 auto;  
  width: 80%; 
  max-width: 500px;
}
.header {
  width: 100%;
}

.hr-lines {
  text-align: center;
  position: relative;
  font-size: 2rem;
  color: #FF6B82;
}

.hr-lines:before, .hr-lines:after {
  content: '';
  position: absolute;
  top: 50%;
  width:8%;
  height: 1px;
  background-color: #C8C8C8;
}

.hr-lines:before {
  left:33.5%;
}

.hr-lines:after {
  right: 33.5%;
}

.pricing-option {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
  padding: 20px;
  gap: 10px;
  transition: border-color 0.3s ease; 
  background: #fff9fa;
}

.pricing-option:hover {
  border-color: #FF6B82;
}

/* Apply border color change when radio button is checked */
input[type="radio"]:checked + label .pricing-option {
  border-color: #FF6B82;
}

.price-label {
  font-style: solid;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
}

.charges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  padding-bottom: 20px;
}

.pOne, .pTwo {
  display: flex;
  flex-direction: column;
}

.discPrice {
  margin: 0;
}

.std-price {
  color: #C8C8C8;
  font-size: 12px;
}

.delClick {
  display: flex;
  flex-direction: column;
}

.delClick button {
  border: none;
  border-radius: 6px;
  background: #FF6B82;
  color: #fff;
  padding: 0.8rem;
}

.delClick span {
  color: #C8C8C8;
  font-size: 16px;
  text-align: right;
}

.offer {
  background: #FF6B82;
  color: #fff;
  font-size: 13px;
  padding: 2px 5px;
  margin-left: 5px;
  border-radius: 2px;
}

.subhead {
  font-size: 14px;
  font-weight: 100;
}

.productSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
}

select {
  margin-right: 20px;
  padding: 5px;
  width: 100px;
}

.variant-mini-container {
  display: none; 
}

.variant-mini-container.show {
  display: block; 
}
.most-popular {
  position: absolute;
  top: 210px;
  right: 525px;
  background-color: #FF6B82;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 14px;
  border: none;
  border-radius: 5px;
  z-index: 2;
  overflow: visible;
}


.most-popular::before {
  content: "";
  position: absolute;
  top: 4%; 
  left: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FF6B82; 
  z-index: -1; 
}


.most-popular::after {
  content: "";
  position: absolute;
  top: 4%; 
  right: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FF6B82; 
  z-index: -1; 
}
/* Media Queries for smaller screens */
@media screen and (max-width:1098px){
  .hr-lines:before, .hr-lines:after {
    content: '';
    position: absolute;
    top: 50%;
    width:13%;
    height: 1px;
    background-color: #C8C8C8;
  }
  .pricing-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #C8C8C8;
    padding: 20px;
    gap: 10px;
    transition: border-color 0.3s ease; 
    background: #fff9fa;
  }
  
  .hr-lines:before {
    left: 25.5%;
}

.hr-lines:after {
    right: 25.5%;
}
}
@media screen and (max-width: 768px) {
  .most-popular {
    position: absolute;
    top: 210px;
    right: 430px;
    background-color: #FF6B82;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 14px;
    border-radius: 5px;
    z-index: 2;
    overflow: visible;
  }
  
  
  .most-popular::before {
    content: "";
    position: absolute;
    top: 4%; 
    left: -8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FF6B82; 
    z-index: -1; 
  }
  
  
  .most-popular::after {
    content: "";
    position: absolute;
    top: 4%; 
    right: -8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FF6B82; 
    z-index: -1; 
  }
  .container {
      margin: 0 auto;  
      width: 80%; 
      max-width: 600px;
  }
  .hr-lines {
    text-align: center;
    position: relative;
    font-size: 2rem;
    color: #FF6B82;
  }
  
  .hr-lines:before, .hr-lines:after {
    content: '';
    position: absolute;
    top: 50%;
    width:25%;
    height: 1px;
    background-color: #C8C8C8;
  }
  
  .hr-lines:before {
    left:10.5%;
  }
  
  .hr-lines:after {
    right: 10.5%;
  }
  
  .pricing-option {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #C8C8C8;
    padding: 20px;
    gap: 10px;
    transition: border-color 0.3s ease; 
    background: #fff9fa;
  }
  
  .pricing-option:hover {
    border-color: #FF6B82;
  }
  
  input[type="radio"]:checked + label .pricing-option {
    border-color: #FF6B82;
  }
  
  .price-label {
    font-style: solid;
  }
  
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12rem;
  }
  
  .charges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12rem;
    padding-bottom: 20px;
  }
  
  .pOne, .pTwo {
    display: flex;
    flex-direction: column;
  }
  
  .discPrice {
    margin: 0;
  }
  
  .std-price {
    color: #C8C8C8;
    font-size: 12px;
  }

  .delClick button {
      width: 100%;
      padding: 0.7rem;
  }

  .row {
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
  }

  select {
      margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin: 0 auto;  
    width: 100%; 
}
.hr-lines {
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  color: #FF6B82;
}

.hr-lines:before, .hr-lines:after {
  content: '';
  position: absolute;
  top: 50%;
  width:8%;
  height: 1px;
  background-color: #C8C8C8;
}

.hr-lines:before {
  left:13.5%;
}

.hr-lines:after {
  right: 13.5%;
}
.pricing-option {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
  padding: 20px;
  gap: 10px;
  transition: border-color 0.3s ease; 
  background: #fff9fa;
}

.pricing-option:hover {
  border-color: #FF6B82;
}

input[type="radio"]:checked + label .pricing-option {
  border-color: #FF6B82;
}

.price-label {
  font-style: solid;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.charges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  padding-bottom: 20px;
}

.pOne, .pTwo {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.discPrice {
  margin: 0;
}

.std-price {
  color: #C8C8C8;
  font-size: 12px;
}

.delClick button {
    width: 100%;
    padding: 0.7rem;
}
.offer{
  font-size: 10px;
}
.row {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}

select {
    margin-right: 0;
}
.most-popular {
  position: absolute;
  border: none;
  top: 178px;
  right: 55px;
  background-color: #FF6B82;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 5px;
  z-index: 2;
  overflow: visible;
}


.most-popular::before {
  content: "";
  position: absolute;
  top: 4%; 
  left: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FF6B82; 
  z-index: -1; 
}


.most-popular::after {
  content: "";
  position: absolute;
  top: 4%; 
  right: -8px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FF6B82; 
  z-index: -1; 
}
}
